body {
    background-color: rgb(221, 149, 40);
}

.black {
    background-color: black;
}

.white {
    background-color: white;
}
  
#canvas {
    width: 400px;
    height: 400px;
    background-color: palevioletred;
    margin: 5% auto;
    box-shadow: 17px 17px 10px gray;
}

#two-left-squares {
    display: inline-block;
    height: 75%;
    width: 22%;
    background-color: aqua; /*TMP*/
}

#top-left-white-square {
    height: 42%;
    width: 100%;
    background-color: white;
}

#top-left-thick-black-bar {
    height: 10%;
    width: 100%;
    background-color: black;
}

#middle-left-white-square {
    height: 48%;
    width: 100%;
    background-color: white;
}

.black-vertical-line {
    
    height: 100%;
    width: 17%;
    background-color: black;
}
  
  /*
  #first-row {
    height: 75%;  
    width: 100%;
  }
  
  #big-rectangle {
    height: 100%;
    width: 75%;
  }
  
  .red {
    background-color: red;
  }
  
  .brown {
    background-color: brown;
  }
  
  .right {
    float: right;
  }
  
  .black {
    background-color: black;
  }
  
  #first-divider {
    height: 100%;
    width: 3%;
  }
  
  #first-column {
    height: 100%;
    width: 22%;
  }
  
  #second-divider {
    height: 6%;
    width: 100%;
  }
  
  #first-medium-rectangle {
    height: 47%;
    width: 100%;
  }
  
  #second-medium-rectangle {
    height: 47%;
    width: 100%;
  }
  
  .white {
    background-color: white;
  }
  
  #second-row {
    height: 3%;
    width: 100%;
  }
  
  #third-row {
    height: 22%;
    width:100%;
  }
  
  .yellow {
    background-color: yellow;
  }
  */