body {
    background-color: rgb(221, 149, 40);
}

.black {
    background-color: black;
}

.white {
    background-color: white;
}

.blue {
    background-color: rgb(30, 88, 247);
}

.yellow {
    background-color: yellow;
}

.red {
    background-color: red;
}
  
#canvas {
    width: 400px;
    height: 400px;
    background-color: palevioletred;
    margin: 5% auto;
    box-shadow: 17px 17px 10px gray;
}

#first-row {
    height: 75%;
    width: 100%;
}

#two-left-squares {
    height: 100%;
    width: 22%;
    float: left;
}

#top-left-square {
    height: 42%;
    width: 100%;
}

#top-left-thick-bar {
    height: 10%;
    width: 100%;
}

#middle-left-square {
    height: 48%;
    width: 100%;
}

.vertical-line {
    height: 100%;
    width: 3%;
    float: left;
}

#big-rectangle {
    height: 100%;
    width: 75%;
    float: left;
}

#divider {
    height: 3%;
    width: 100%;
}

#second-row {
    height: 22%;
    width: 100%;
}

#bottom-left-square {
    height: 100%;
    width: 22%;
    float: left;
}

#middle-bottom-square {
    height: 100%;
    width: 64%;
    float: left;
}

#bottom-right-squares {
    height: 100%;
    width: 8%;
    float: left;
}

.bottom-right-squares {
    height: 40%;
    width: 100%;
}

#first-right-small-square {
    height: 40%;
    width: 100%;
}

#bottom-right-thick-bar {
    height: 20%;
    width: 100%;
}

#second-right-small-square {
    height: 40%;
    width: 100%;
}